* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Code below for centering a div horizontally and vertically */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    width: 25rem;
    padding: 4rem;
    border: 2px solid #000000;
    border-radius: 15px;
}

#username,
#password {
    margin-bottom: 0.6rem;
    width: 100%;
}

#icon {
    display: none;
    position: absolute;
    right: 17.5%;
    top: 133px;
    cursor: pointer;
}

#rememberme {
    accent-color: gray;
}

.link-password {
    float: right;
}

.validation {
    visibility: hidden;
    padding: 0.2em;
    margin: 0.5em 0;
}

.is-success {
    background-color: #20ef73;
}

.is-failed {
    background-color: #ef9a9a;
}

.validation-message {
    text-align: center;
}

#submit-btn {
    width: 100%;
    /* margin-top: 3.5rem; */
    padding: 0.7rem;
    border-radius: 20px;
    border: 1px solid #000000;
    cursor: pointer;
}
